<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Saveetha Engineering College</title>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
             <h1 class="display-4 text-center">Algorythm</h1>
            <p class="lead text-center">Tune yourself to our bit.</p>
            <hr class="my-4">
            <p class="text-center">Department of Artificial Intelligence and Data Science</p>
            <p class="lead text-center">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Participants List</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">NAME</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">PHONE</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>swetha.k.p</td>
                            <td>swethakp@gmail.com</td>
                            <td>9618146729</td>
                        </tr>

                        <tr>
                            <td>Surya</td>
                            <td>Surya@gmail.com</td>
                            <td>8074030772</td>
                        </tr>

                        <tr>
                            <td>ragav</td>
                            <td>ragav@gmail.com</td>
                            <td>1236789054</td>
                        </tr>

                        <tr>
                            <td>safa</td>
                            <td>safa88@gmail.com</td>
                            <td>5678065432</td>
                        </tr>

                        <tr>
                            <td>uma</td>
                            <td>uma22@</td>
                            <td>1238087687</td>
                        </tr>

                        <tr>
                            <td>Sanjay</td>
                            <td>Sanjay@gmail.com</td>
                            <td>1435687665</td>
                        </tr>

                        <tr>
                            <td>presetha</td>
                            <td>presi32@gmail.com</td>
                            <td>2233654328</td>
                        </tr>

                        <tr>
                        <tr>
                            <td>tamizh</td>
                            <td>tamizh03@gmail.com</td>
                            <td>9032460772</td>
                        </tr>

                        <tr>
                            